<!-- <footer class="container" style="margin-top: 100px;">
    <p class="text-center">Copyright ©2016 Rails101
        <br>Design by yourname

    </p>
</footer> -->

<footer>
<TABLE cellSpacing=0 cellPadding=0 width=1003 align=center border=0>
<TBODY>
<TR>
<TD height=90>
<TABLE  height=24 cellSpacing=0 cellPadding=0 align=center border=0>
<TBODY>
<TR>
<TD style="PADDING-LEFT: 20px" width="1024" align=middle bgColor=#003399>
  <FONT color=#ffffff>&copy; CFDA<BR>Constructed and Maintained by the Information Center of CFDA</FONT>
</TD>
</TR>
</TBODY>
</TABLE>
</TD>
</TR>
</TBODY>
</TABLE>
</footer>
